AddDefaultCharset UTF-8

# Bigyan ng explicit permission ang Apache na gamitin ang index.php bilang main file
DirectoryIndex index.php

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Huwag i-rewrite kung index.php na mismo ang tina-target
    RewriteCond %{REQUEST_URI} ^/index\.php

    # Route lahat ng requests gamit ang Query String para walang infinite loop
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?/$1 [L,QSA]
</IfModule>