AddDefaultCharset UTF-8

DirectoryIndex index.php

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Deny access to sensitive directories
    RedirectMatch 403 ^/(app|scheme|console|runtime)/

    # Deny access to sensitive files
    <FilesMatch "\.(env|json|xml|log|md|lock|git|ini|bak|sql)$">
        Require all denied
    </FilesMatch>

    # Pass all routes cleanly to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?/$1 [L,QSA]
</IfModule>